<!DOCTYPE html>
<html>
<head>
  <title>Swift High Performance</title>
  <meta name="description" content="Leverage Swift and enhance your code to take your applications to the next level">
  <meta name="keywords" content="swift, performance, programming, programming, improve performance, swift performance, applications">
  <meta name="author" content="Kostiantyn Koval">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
